.my-pie-chart {
  margin: 10px 0px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.progress-bar {
  margin: 10px 0px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
